*{
    box-sizing: border-box; 
    
   
}
.container{
    color:rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
}

.heading{
    margin-top: 30px;
    font-size: 28px;
}
.list{
    display:flex;
    flex-direction: column;
    font-size: 20px;
    cursor: pointer; 
    /* padding: 0 4%; */
    flex-wrap: wrap;
    

}
.listItem{
    height:50px;
    width: 100%;
    /* transition: background-color 0.3s, color 0.3s; */

}
.listItem:hover{
    background-color:rgb(255, 251, 251);
    /* width:100%;
    height:45px; */
    padding-bottom: 2px;
    padding-top: 4px;
    box-shadow: 0 5px 10px rgba(255,255,255,0.4);
    color: #6593f7;   
} 
.yearList{
    height:150px;
    width: 100%;
    background-color:rgba(245, 238, 238, 0.4);
    box-shadow: 5px 5px 5px rgba(255,255,255,0.4);

}
.yearListItem{
    height: 45px;
   
    color: black;
    margin: 0px 0;
}
.yearListItem:hover{
    background-color:rgb(255, 251, 251);
    color: #6593f7;   
}
.active{
    background-color:rgb(255, 251, 251);
    width:100%;
    height:45px;
    padding-bottom: 2px;
    padding-top: 4px;
    color: #6593f7;
     border: 2px solid rgb(215, 204, 206);
}
.yearActive{
    background-color:rgba(255, 255, 255, 0.3);
    width:100%;
    height:45px;
    padding-bottom: 2px;
    padding-top: 4px;
    color: #6c4646;
    
}
.spanItem{
    padding-left: 6%;
}
hr{
    width:100%;
}
.navButton{
    background-color:#5b5967;
    height:50px;
    width: 100%;
    border:none;
    position: absolute;
    bottom: 0;
    padding-top: 2%;  
}
.navButton:hover{
    background-color: white;
    color:black;
    border:2px solid beige
}
.roundDiv {
    width: 170px;
    height: 170px;
    border: 3px solid rgb(243, 243, 243) ;
    border-radius: 50%;
    margin: auto;
    margin-top: 12%;
  }
@media only screen and (max-width: 1120px) {
    span{
        display: none;
    }
  }
