*{
    box-sizing: border-box; 
    
   
}
.container{
    color:rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
}
.heading{
    margin-top: 30px;
    font-size: 28px;
}
.list{
    display:flex;
    flex-direction: column;
    font-size: 20px;
    cursor: pointer; 
    /* padding: 0 4%; */
    flex-wrap: wrap;
    

}
.listItem{
    height:50px;
    width: 100%;
    /* transition: background-color 0.3s, color 0.3s; */

}
.listItem:hover{
    background-color:rgb(255, 251, 251);
    width:100%;
    height:45px;
    padding-bottom: 2px;
    padding-top: 4px;
    /* box-shadow: 0 5px 10px rgba(255,255,255,0.4); */
    color: #6593f7;   
}
.active{
    background-color:rgb(255, 251, 251);
    width:100%;
    height:45px;
    border-radius: 6px;
    padding-bottom: 2px;
    padding-top: 4px;
    box-shadow: 0 5px 10px rgba(255,255,255,0.4);
    color: #6593f7;
   
}
.spanItem{
    padding-left: 6%;
}
hr{
    width:100%;
}
.navButton{
    background-color:#5b5967;
    height:50px;
    width: 100%;
    border:none;
    position: absolute;
    bottom: 0;
    padding-top: 2%;


    
}
.navButton:hover{
    background-color: white;
    color:black;
    border:2px solid beige
}
@media only screen and (max-width: 1120px) {
    
    span{
        display: none;
    }
  }
